#pieSvg {
    margin-top: 10%;
    height: 70%;
    width: 70%;
    margin-left: 15%;
}

text.title {
    font-size: 22px;
    font-weight: 600;
}

.arc text {
    font: 10px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

.pie {
    margin: 20px;
}

svg {
    float: left;
}

.legend {
    float: left;
    font-family: "Verdana";
    font-size: 20px;
    color:white;
}

.pie text {
    font-family: "Verdana";
    fill: #000;
}

.pie .gender-text {
    font-size: 20px;
    color: white;
}

.pie .value-text {
    font-size: 20px;
    color: white;
}