@model Amatzia.Models.User

@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/About.css")



<div class="loginDiv">
    <div class="loginForm form-horizontal">
        <h1>@ViewBag.Title</h1>
            <div>
                @Html.Label("", (string)ViewBag.Message)
            </div>
        <br />
        <div>
            <h3>Did you know?</h3>
            @Html.Label("",(string)ViewBag.MessageFoodie)
        </div>
    </div>

