@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

body {
    background-color: #e6ecf0;
    height: 100%;
}

.mainDiv {
    width: 50%;
    height: 70%;
    margin-left: 15%;
    margin-top: 7%;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 1px;
    font-family: "Alef Hebrew";
    background-color: white;
    position: fixed;
    overflow-y: scroll;
}

.mainForm {
    width: 80%;
    height: 80%;
    margin-left: 8%;
    margin-top: 3%;
}

.submitButton {   
    text-align: center;
}
