@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

body {
    background-image: url(/Images/cooking-wallpaper.jpg);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: "Alef Hebrew";
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#modelTable th,
#modelTable tr {
    padding-right: 10px;
}

#modelDetails dt {
    font-weight: bold;
    float: left;
    margin-right: 5px;
    text-align: left;
}

.searchDiv {
    display: inline-block;
    width: 100%;
}