@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);

body {
    background-image: url(/Images/cooking-wallpaper.jpg);
    background-position: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    font-family: "Alef Hebrew";
}

.loginDiv {
    width: 50%;
    height: 50%;
    margin-left: 25%;
    margin-top: 15%;
    border: 1px solid;
    border-color: lightgray;
    border-radius: 13px;
    background-color: rgba(255, 255, 255, 0.9);
}

.loginForm {
    width: 80%;
    margin-left: 10%;
}

.submitButton {
    text-align: center;
}

.btn-login {
    border: none;
    width: 26%;
    padding: 16px;
    border-radius: 25px;
}

.icons {
    font-size: 20px !important;
    color: gray;
}

h1 {
    color: gray;
    text-align: center;
}

h3 {
    color: gray;
    text-align: center;
}

p {
    margin: 0 0 10px;
    padding-left: 136px;
}

#modelDetails {
    padding-left: 52px;
    color: gray;
    font-size: 20px;
}

hr {
    border-color: #d8d1d1;
}

.title {
    font-weight: bold;
}
